[submodule "external/imgui"]
path = external/imgui
url = https://github.com/ocornut/imgui.git
branch = docking
[submodule "external/Phi"]
path = external/Phi
url = https://github.com/AMS21/Phi.git
branch = develop
[submodule "external/glad"]
path = external/glad
url = https://github.com/Dav1dde/glad.git
[submodule "external/imgui-filebrowser"]
path = external/imgui-filebrowser
url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "external/glfw"]
path = external/glfw
url = https://github.com/glfw/glfw.git
[submodule "external/Catch2"]
path = external/Catch2
url = https://github.com/catchorg/Catch2.git
branch = devel
[submodule "external/spdlog"]
path = external/spdlog
url = https://github.com/gabime/spdlog.git
branch = v1.x
[submodule "external/benchmark"]
path = external/benchmark
url = https://github.com/google/benchmark.git
branch = main
